
body{background-color:#fff;}
h1, h2, h3 {color: #9d5adc; }

/* skip to content*/
.skip {background-color: #fff;
    padding: 7px;
    border: 2px solid #000; 
    text-decoration: none;
    position:absolute; /* positions relative to topp and bottom of viewport */ 
    top: 10px; 
    left: -999px;  /* push the button off the screen */
}
.skip:focus /* when the button is tabbed to is when its in focus*/{
    left: 10px; 
}
/* end skip to content*/

/* nav style */
.navdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }
/*end nav style */
.logo a {
    font-size: 24px; 
    font-weight: 400;
    text-decoration:overline;
    font-size: 1.5rem;
    color: #000;
}


p {font-size:larger ;}

.pages a {
margin-left: 20px; 
text-decoration: none;
color: #333; 
}

.pages a:hover {
color: #007bff; }

@media only screen and (max-width: 896px) {
        .nav{display: none;}
        nav a {
                width: 100%;
                display: block;
               
                margin: -10px;}
        span {display: none;}
    }


    #hamicon {
        width: 35px;
        display: none;
        cursor: pointer; 
        margin-left: -25px;
        
    }

    @media only screen and (max-width: 920px) {
        nav a {
            width: 100%;
            padding: 10px 0px;
            display: block; 
        }
        span {
            display: none;
        }
        #hamicon {
            display: block;
        }
        #navlinks {
            display: none;
        }

        .img1 {
            width: 150px;
        }
    }



a:hover {color: #f33311;}


table, th, td {border: 2px solid black;}
p{color: #000000;} /**/




    footer {
        text-align: center;
        margin-top: 40px;
    }


    .footertext a {
        margin-right: 10px;
        color: #000;
        float: right;
    
    }

    /*mouse*/
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    path {
        fill:none;
        stroke-width: 30;
        stroke-linecap: round;
        stroke-linejoin: round;
    }


